<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">Description</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Specs</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href ng-click="tab.setTab(3)">Reviews</a>
    </li>
    <li ng-class="{ active:tab.isSet(4) }">
      <a href ng-click="tab.setTab(4)">Edit</a>
    </li>
    <li>
      <a href='' ng-click="delete(product)">Delete</a>
    </li>
  </ul>

  <!--  Description Tab's Content  -->
  <product-description ng-show="tab.isSet(1)"></product-description>

  <!--  Spec Tab's Content  -->
  <div product-specs ng-show="tab.isSet(2)"></div>

  <!--  Review Tab's Content  -->
  <product-reviews ng-show="tab.isSet(3)"></product-reviews>

  <form name="editProduct" ng-submit="edit(product, tab)" ng-show="tab.isSet(4)"><h2>Edit Product</h2><br>
    <label for="name">Name:<br>
      <input type="text" name="name" ng-model="product.name" >
    </label><br>
    <label for="price">Price:<br>
      <input type="text" name="price" ng-model="product.price" >
    </label><br>
    <label for="description">Description:<br>
      <input type="text" name="description" ng-model="product.description">
    </label><br>
    <label for="category">Category:<br>
      <input type="text" name="category" ng-model="product.category">
    </label><br>
    <input type="submit" value="Submit"/>
  </form>
</section>
