<div class="container-fluid">
  <form name="newProduct" ng-submit="create()" ng-show="show"><h2>New Product</h2><br>
    <label for="name">Name:<br>
      <input type="text" name="name" required ng-minlength=5 ng-model="product.name" ng-model-options="{debounce: 1000}" >
      <span ng-show="newProduct.name.$error.minlength">Name must be at least five characters!</span>
    </label><br>
    <label for="price">Price:<br>
      <input type="number" required name="price" ng-model="product.price">
      <span ng-show="newProduct.price.$error.number">Please enter a number!</span>
    </label><br>
    <label for="description">Description:<br>
      <input type="text" name="description" required ng-model="product.description">
    </label><br>
    <label for="category">Category:<br>
      <input type="text" name="category" required ng-model="product.category">
    </label><br>
    <input type="submit" value="Submit" ng-disabled="newProduct.$invalid"/>
  </form>
</div>
